<footer class="footer clearfix">
    <div class="footer-main clearfix">
        <div class="links float-left">
            <ul>
                <li><a href="">关于我们</a></li>
                <li><a href="">诚聘英才</a></li>
                <li><a href="">免责声明</a></li>
                <li><a href="">广告投放</a></li>
            </ul>
            <ul>
                <li><a href="">充值中心</a></li>
                <li><a href="">帮助中心</a></li>
                <li><a href="">多瑙论坛</a></li>
                <li><a href="">多瑙游戏</a></li>
            </ul>
        </div>
        <div class="desktop float-right">
            <a href=""><i class="fa fa-desktop" aria-hidden="true"></i></a>
            <a class="txt" href="">电脑版</a>
        </div>
    </div>
    <div class="footer-bottom clearfix">
        <div class="copyright pull-right">&copy; Copyright <span>{{ date | date: format }}</span> 多瑙影院 dnvod.tv 版权所有</div>
    </div>
</footer>