<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="content">
        <h1>404</h1>错误！
        <p>您访问的页面不存在，或已被管理员删除。</p>
        <p>返回<a routerLink="/" class="btn btn-sm btn-success">多瑙影院</a></p>
        <p>或者使用搜索功能查找相关内容</p>
        <div class="search-box clearfix">
          <input id="key" type="text" placeholder="请输入关键字"/>
          <button id="submit" class="btn btn-primary btn-sm"><i class="fa fa-search"></i>搜索</button>
        </div>
      </div>
    </div>
  </div>
</div>
